# conditional statement

In [5]:
a = 10
b = 20

if b>a:
    print("Yes b is greater")
    
# one line if statement
if b>a: print("Is'n it funny")

Yes b is greater
Is'n it funny

In [2]:
a = int(input("Enter a:"))
b = int(input("Enter b:"))

if b<a :
    print("a is greater then a")
elif a==b:
    print("they are equal")
else:
    print("b is greater then a")

Enter a:10
Enter b:20
b is greater then a

In [4]:
a = int(input("Enter a:"))
b = int(input("Enter b:"))

# one line if else statement 
print(a) if a<b else print(b)

Enter a:10
Enter b:20
10

In [6]:
a = 200
b = 200

# one line if else elif condio
print(a) if a>b else print("equal") if a==b else print(b)

equal

In [8]:
a = 200
b = 33
c = 500

if a > b and c > a:
    print("Both condition are true")

Both condition are true

In [9]:
a = 200
b = 33
c = 500

if a > b or a > c:
    print("At least one of the conditions is True")

At least one of the conditions is True

In [10]:
# use of not operator
a = 33
b = 200

if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [11]:
# nested if function
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

In [12]:
# pass statement 

a = 30
b = 200

if b>a:
    pass

# while loop

In [13]:
i = 0
while i<6:
    print(i)
    if i == 3:
        break
    i+=1

0
1
2
3

In [1]:
i = 0
while i< 6:
    i+=1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [2]:
# print a message when the condition is false
i = 1
while i < 6:
    print(i)
    i+=1
else: print(i, "is no longer then 6")

1
2
3
4
5
6 is no longer then 6

# For loop

In [3]:
# loop through list
number = [10, 20, 30, 40, 50]
for i in number:
    print(i)

10
20
30
40
50

In [4]:
# loop through string
for x in "banana":
    print(x)

b
a
n
a
n
a

In [5]:
number = [10, 20, 30, 40, 50]
for i in number:
    print(i)
    if i == 30:
        break

10
20
30

In [6]:
number = [10, 20, 30, 40, 50]
for i in number:
    if i == 30:
        break
    print(i)

10
20

In [8]:
number = [10, 20, 30, 40, 50]
for i in number:
    if i == 30:
        continue
    print(i)

10
20
40
50

In [11]:
# range function
for x in range(3):
    print(x)
print("\n")
for x in range(2, 4):
    print(x)
print("\n")
for x in range(2, 10, 3):
    print(x)

0
1
2


2
3


2
5
8

In [14]:
for x in range(4):
    print(x)
else: print(x, "Finally Done!")

0
1
2
3
3 Finally Done!

In [16]:
# if the break statement works then else block does not work
for x in range(6):
    if x == 3: break
    print(x)
else:
    print("Finally finished!")

0
1
2

In [19]:
num = [1, 2, 3, 4, 5]
is_no =["big", "small"]

for x in num:
    for y in is_no:
        print(x,":", y)

1 : big
1 : small
2 : big
2 : small
3 : big
3 : small
4 : big
4 : small
5 : big
5 : small

In [20]:
# pass statement
for x in [0, 1, 2]:
    pass

# Function

In [22]:
def calling():
    print("Your friend id calling")
    
calling()

Your friend id calling

In [25]:
def calling(name, num):
    print("{} id {} calling".format(name, num))
    
calling("sazzad", "+880163424")

sazzad id +880163424 calling

In [31]:
# function with unlimited argumet
def calling(*name):
    print("Your friend calling {1} {2}".format(*name) , name[0])
    
calling("sazzad", 'good', "boy")

Your friend calling good boy sazzad

In [32]:
# with ** 
def my_function(**kid):
    print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [34]:
# passing a list
def fun(food):
    for x in food:
        print(x)
        
fruits = ["banana", "apple", "cherry"]
fun(fruits)

banana
apple
cherry

In [35]:
# return value
def dofun(x):
    return 5*x

x=dofun(5)
print(x)

25

In [38]:
# recursion

def t_recursion(k):
    if(k>0):
        result = k + t_recursion(k-1)
    else:
        result = 0
    return result
print(t_recursion(4))

10

# Lambda function

In [40]:
fun = lambda x : x*2
print(fun(5))

10

In [42]:
fun = lambda x, y, z : x+y+z
x = fun(10, 20 ,30)
print(x)

60

In [44]:
# use lambda function into other function
def myfun(n):
    return lambda a: a*n
r_fun = myfun(5)
print(r_fun(5))

25

# OOP Concept

In [45]:
class university:
    name = "Daffodil International University"
    
ob1 = university()
print(ob1.name)

Daffodil International University

In [63]:
class university:
    pass

In [47]:
# __init__ function
class student:
    def __init__(self, name, id_no):
        self.name = name
        self.id_no = id_no
        
ob = student("samman", "213-15-4254")
print(ob.id_no)

213-15-4254

In [50]:
# __str__ function
class student:
    def __init__(self, name, id_no):
        self.name = name
        self.id_no = id_no
        
    def __str__(self):
        return f"{self.name} ({self.id_no})"
        
ob = student("samman", "213-15-4254")
print(ob)

samman (213-15-4254)

In [54]:
class student:
    def __init__(self, name, id_no):
        self.name = name
        self.id_no = id_no
        
    def show(self):
        print(self.name , self.id_no)
        
ob = student("samman", "213-15-4254")
print(ob.show())

samman 213-15-4254
None

In [57]:
# working as self
class student:
    def __init__(hey, name, dept):
        hey.name = name
        hey.dept = dept
        
    def show(hello):
        print("Your dept is: ", hello.dept)

ob = student("samman", "CSE")
print(ob.show())

Your dept is:  Rocket Science
None

In [60]:
# modify object proparty
class student:
    def __init__(self, name, id_no):
        self.name = name
        self.id_no = id_no
        
    def show(self):
        print(self.id_no)
        
ob = student("samman", "213-15-4305")
ob.id_no = "213-15-4254"
print(ob.show())

213-15-4254
None

In [62]:
class student:
    def __init__(self, name, id_no):
        self.name = name
        self.id_no = id_no
        
    def show(self):
        print(self.id_no)
        
ob = student("samman", "213-15-4305")
del ob.name
print(ob.show())

213-15-4305
None

# Inheritance

In [73]:
class person:
    def __init__(self, fname, lname):
        self.fname = fname
        self.lname = lname
        
    def show(self):
        return(f"firstname is {self.fname} and last name {self.lname}")
        
x = person("james", "amin")
# child class

class student(person):
    pass

y = student("james", "Amin")
print(y.show())

firstname is james and last name Amin

In [79]:
# when we make an aother __init__ function in child class
# it does not work in parents __init__ function
# that is overrides

class person:
    def __init__(self, fname, lname):
        self.fname = fname
        self.lname = lname
        
    def show(self):
        return(f"first name is {self.fname} and last name {self.lname}")
    
# child class
# two use parent __init__ function
class student(person):
    def __init__(self, fname, lname):
        self.fname = fname
        self.lname = lname
        person.__init__(self, fname, lname)

x = student("abu", "salaho")
print(x.fname)
print(x.show())

abu
first name is abu and last name salaho

In [78]:
# Use of super keyword
class student(person):
    def __init__(self, fname, lname):
        super().__init__(fname, lname)
    
x =student("abu", "salaho")
print(x.show())

first name is abu and last name salaho

In [85]:
# add method using super
class student(person):
    def __init__(self, fname, lname, year):
        super().__init__(fname, lname)
        self.graduation_year = year
        
    def welcome(self):
        print("welcome", self.fname, self.lname,"gradutiation at", self.graduation_year)
    
x = student("abu", "salaho", 2025)
print(x.graduation_year)
print(x.welcome())

2025
welcome abu salaho gradutiation at 2025
None

# Iterators

In [87]:
# passing through list/ set/ tuple/ dict
fruits = ("apple", "banana", "cherry", "strawberry", "orange")
x = iter(fruits)

print(next(x))
print(next(x))
print(next(x))
print(next(x))

apple
banana
cherry
strawberry

In [88]:
# passing string
x = "strawberry"
y = iter(x)

print(next(y))
print(next(y))
print(next(y))
print(next(y))
print(next(y))

s
t
r
a
w

In [ ]:
# class number:
    def __iter__(self):
        self.a = 1
        return self
        
    def __next__(self):
        x = self.a
        self.a+=1
        return x
    
obj = number()
y = iter(obj)

print(next(y))
print(next(y))

In [91]:
# stop iteration
class number:
    def __iter__(self):
        self.a = 1
        return self
        
    def __next__(self):
        if self.a<5:
            x = self.a
            self.a+=1
            return x
        else:
            raise StopIteration
    
obj = number()
y = iter(obj)

for x in y:
    print(x)

1
2
3
4

# Polymorphism

In [92]:
class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model
   
    def move(self):
        print("Drive!")

class Boat:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def move(self):
        print("Sail!")

class Plane:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def move(self):
        print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for x in (car1, boat1, plane1):
    x.move()

Drive!
Sail!
Fly!

In [95]:
class Vehicle:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model
  
    def move(self):
        print("Drive!")
class car(Vehicle):
    pass

class Boat(Vehicle):
    def move(self):
        print("Sail!")

class Plane(Vehicle):
    def move(self):
        print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for x in (car1, boat1, plane1):
    print(x.brand)
    print(x.model)
    x.move()
    
# move function is overloading in polymorphism

Ford
Mustang
Drive!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

# python Scope

In [96]:
# it is only availble under this function
def fun():
    x = 100
    print(x)
    
print(fun())

100
None

In [97]:
# function inside function
def fun():
    x = 100
    def inner():
        print(x)
    return inner()

print(fun())

100
None

In [98]:
# global Scope
x = 300
def fun():
    print(x)

print(x)

300

In [100]:
x = 300
def fun():
    x = 200
    print(x)
fun()
print(x)

200
300

In [102]:
x = 300
def fun():
    global x
    x = 200
    print(x)
fun()
print(x)

200
200

# Date Module

In [3]:
import datetime
x = datetime.datetime.now()
print(x)

2023-05-24 23:23:07.165553

In [5]:
import datetime
x = datetime.datetime.now()
print(x.year)
print(x.strftime("%A"))

2023
Wednesday

# Math module

In [6]:
import math

x = math.ceil(1.4)
y = math.floor(1.4)

print(x)
print(y)

2
1

In [7]:
x = math.pi
print(x)

3.141592653589793

In [10]:
x = 10
y = 20
a = 5
z = max(x, y)
g = min(x, y, a)
print(z, g)

20 5

In [11]:
x = abs(-7.25)
print(x)

7.25

In [12]:
x = pow(4, 3)
print(x)

64

In [13]:
x= math.sqrt(64)
print(x)

8.0

# Json module

In [15]:
import json
x ='{"name":"abu", "age": "23"}'
y = json.loads(x)

print(y["age"])

23

In [19]:
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

y = json.dumps(x)
print(y)
print(type(y))

{"name": "John", "age": 30, "city": "New York"}
<class 'str'>

In [26]:
x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x, indent = 4, separators= (".","=")))
print(type(json.dumps(x)))

{
    "name"="John".
    "age"=30.
    "married"=true.
    "divorced"=false.
    "children"=[
        "Ann".
        "Billy"
    ].
    "pets"=null.
    "cars"=[
        {
            "model"="BMW 230".
            "mpg"=27.5
        }.
        {
            "model"="Ford Edge".
            "mpg"=24.1
        }
    ]
}
<class 'str'>

# RegEx module

In [29]:
import re

#Check if the string starts with "The" and ends with "Spain":

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

if x:
    print("YES! We have a match!")
else:
    print("No match")

YES! We have a match!

In [30]:
# findall method
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [31]:
# search method
txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [32]:
# split method
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

# try & except

In [36]:
try:
    print("Abu")
except:
    print("An exception occured")

Abu

In [39]:
try:
    abu = (h)
except NameError:
    print("Variable x is not defined")
except:
    print("Something else went wrong")

Variable x is not defined

In [40]:
try:
    print("Hello")
except:
    print("Something went wrong")
else:
    print("Nothing went wrong")

Hello
Nothing went wrong

In [41]:
try:
    print(x)
except:
    print("Something went wrong")
finally:
    print("The 'try except' is finished")

['The', 'rain', 'in', 'Spain']
The 'try except' is finished

In [42]:
try:
    f = open("demofile.txt")
    try:
        f.write("Lorum Ipsum")
    except:
        print("Something went wrong when writing to the file")
    finally:
        f.close()
except:
    print("Something went wrong when opening the file")

Something went wrong when opening the file

In [46]:
try:
    x =100/0
except exception as e 
    print(e)

SyntaxError: invalid syntax (Temp/ipykernel_9828/596751517.py, line 3)