# List

In [1]:
mylist = [1, 2, 3, 4, 5]
print(mylist)

[1, 2, 3, 4, 5]

In [2]:
# list are changeable, ordered, allow duplicate
fruits = ["apple", "banana", "orange", "banana"]

print(len(fruits))
print(fruits)

4
['apple', 'banana', 'orange', 'banana']

In [3]:
# list item can be any type of data
com = [1, 1.2, "s", "name", True, None]

print(com)

[1, 1.2, 's', 'name', True, None]

In [12]:
fruits = ["apple", "banana", "cherry", "orange", "melon", "mango", "kiwi"]

print(fruits[-1])
print(fruits[2])
print(fruits[1:3])

kiwi
cherry
['banana', 'cherry']

In [11]:
fruits = ["apple", "banana", "cherry", "orange", "melon", "mango", "kiwi"]

print(fruits[:4])
print(fruits[3:])
print(fruits[-4:-1])

['apple', 'banana', 'cherry', 'orange']
['orange', 'melon', 'mango', 'kiwi']
['orange', 'melon', 'mango']

In [13]:
fruits = ["apple", "banana", "cherry", "orange", "melon", "mango", "kiwi"]

print("apple" in fruits)
if "apple" in fruits:
    print("Yes")

True
Yes

### change list Item

In [14]:
fruits = ["apple", "banana", "cherry", "orange", "melon", "mango", "kiwi"]

fruits[2] = "kiwi"
fruits[-1] = "cherry"

print(fruits)

['apple', 'banana', 'kiwi', 'orange', 'melon', 'mango', 'cherry']

In [15]:
fruits = ["apple", "banana", "cherry", "orange", "melon", "mango", "kiwi"]
fruits[4:6]=["water_melon", "black_mango"]

print(fruits)

['apple', 'banana', 'cherry', 'orange', 'water_melon', 'black_mango', 'kiwi']

In [16]:
fruits = ["apple", "banana", "cherry", "orange", "melon", "mango", "kiwi"]
fruits[2] = ["strawberry", "blackberry"]

print(fruits)

['apple', 'banana', ['strawberry', 'blackberry'], 'orange', 'melon', 'mango', 'kiwi']

In [17]:
fruits = ["apple", "banana", "cherry", "orange", "melon", "mango", "kiwi"]
fruits[1:3]= ["strawberry"]

print(fruits)

['apple', 'strawberry', 'orange', 'melon', 'mango', 'kiwi']

In [19]:
fruits = ["apple", "banana", "cherry", "orange", "melon", "mango", "kiwi"]
fruits.insert(5, "watermelon")

print(fruits)

['apple', 'banana', 'cherry', 'orange', 'melon', 'watermelon', 'mango', 'kiwi']

### Add list item

In [3]:
subject = ["Bangla", "English"]
subject.append("math")

print(subject)

['Bangla', 'English', 'math']

In [6]:
subject = ["Bangla", "English"]
subject.insert(3, "Math")

print(subject)
print(subject[2])

['Bangla', 'English', 'Math']
Math

In [7]:
subject = ["Bangla", "English"]
E_subject = ["math", "E_math", "B_math"]

subject.extend(E_subject)
print(subject)

['Bangla', 'English', 'math', 'E_math', 'B_math']

In [8]:
# we also can use list and tuple and other collection with expend. 
subject = ["Bangla", "English"]
E_subject = ("math", "E_math", "B_math")

subject.extend(E_subject)
print(subject)

['Bangla', 'English', 'math', 'E_math', 'B_math']

### Remove list item

In [10]:
subject = ["Bangla", "English", "Math", "Science"]
subject.remove("Science")

print(subject)

['Bangla', 'English', 'Math']

In [11]:
subject = ["Bangla", "English", "Math", "Science"]
subject.pop(3)

print(subject)

['Bangla', 'English', 'Math']

In [12]:
subject = ["Bangla", "English", "Math", "Science"]
subject.pop()

print(subject)

['Bangla', 'English', 'Math']

In [13]:
subject = ["Bangla", "English", "Math", "Science"]
del subject[3]

print(subject)

['Bangla', 'English', 'Math']

In [15]:
subject = ["Bangla", "English", "Math", "Science"]
del subject
# it completely delete the list even list varriable

In [16]:
subject = ["Bangla", "English", "Math", "Science"]
subject.clear()

print(subject)

[]

### Loop list

In [17]:
subject = ["Bangla", "English", "Math", "Science"]
for x in subject:
    print(x)

Bangla
English
Math
Science

In [18]:
subject = ["Bangla", "English", "Math", "Science"]
for i in range(len(subject)):
    print(subject[i])

Bangla
English
Math
Science

In [19]:
subject = ["Bangla", "English", "Math", "Science"]
i = 0
while i < len(subject):
    print(subject[i])
    i +=1

Bangla
English
Math
Science

In [20]:
subject = ["Bangla", "English", "Math", "Science"]
[print(x) for x in subject]

Bangla
English
Math
Science

[None, None, None, None]

### List comprrehension

In [1]:
subject = ["Bangla", "English", "Math", "Science"]
sub = []

for x in subject:
    sub.append(x)

print(sub)

['Bangla', 'English', 'Math', 'Science']

In [2]:
subject = ["Bangla", "English", "Math", "Science"]
newlist = [x for x in subject]

print(newlist)

['Bangla', 'English', 'Math', 'Science']

In [5]:
subject = ["Bangla", "English", "Math", "Science"]
sub = []

for x in subject:
    if "a" in x:
        sub.append(x)

print(sub)

['Bangla', 'Math']

In [4]:
subject = ["Bangla", "English", "Math", "Science"]
newlist = [x for x in subject if "a" in x]

print(newlist)

['Bangla', 'Math']

### Sort List

In [12]:
subject = ["Bangla", "English", "Math", "Science"]
subject.sort()

print(subject)

['Bangla', 'English', 'Math', 'Science']

In [7]:
subject = ["Bangla", "English", "Math", "Science"]
subject.sort(reverse = True)

print(subject)

['Science', 'Math', 'English', 'Bangla']

In [8]:
num = [10, 30, 20, 60, 40]
num.sort()

print(num)

[10, 20, 30, 40, 60]

In [4]:
# by defining function
def myfunc(n):
    return abs(n-50)

num = [10, 30, 40, 60, 70, 90]
num.sort(key = myfunc)
print(num)

[40, 60, 30, 70, 10, 90]

In [10]:
# case sensitive
fruits = ["banana", "Orange", "Kiwi", "cherry"]
fruits.sort(key = str.lower)

print(fruits)

['banana', 'cherry', 'Kiwi', 'Orange']

### Copy list

In [13]:
subject = ["Bangla", "English", "Math", "Science"]
newlist = subject.copy()

print(newlist)

['Bangla', 'English', 'Math', 'Science']

In [15]:
subject = ["Bangla", "English", "Math", "Science"]
newlist = list(subject)

print(subject)

['Bangla', 'English', 'Math', 'Science']

### Join list

In [16]:
list1 = ["a", "b", "c", "d"]
list2 = [1, 2, 3]

list3 = list1+list2
print(list3)

['a', 'b', 'c', 'd', 1, 2, 3]

In [17]:
list1 = ["a", "b", "c", "d"]
list2 = [1, 2, 3]

for i in list2:
    list1.append(i)
    
print(list1)

['a', 'b', 'c', 'd', 1, 2, 3]

In [18]:
list1 = ["a", "b", "c", "d"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 'd', 1, 2, 3]

# Tuples

In [19]:
# orderd, unchangeable, allow duplicate value
# it can cointain any data type. 
name = ("samman", "abu", "salaho", "sami", "safi", "sazzad")
print(name)

('samman', 'abu', 'salaho', 'sami', 'safi', 'sazzad')

In [20]:
name = ("samman", "abu", "salaho", "sami", "safi", "sacho")
print(len(name))

6

In [21]:
# create tuple with one item. 
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [22]:
thistuple = tuple(("apple", "banana", "cherry")) 
# note the double round-brackets

print(thistuple)

('apple', 'banana', 'cherry')

In [23]:
# tuple are orderd
name = ("samman", "abu", "salaho", "sami", "safi", "sacho")

print(name[-1])
print(name[:3]) # it upto 3 index not three
print(name[2:])
print(name[-5:-1]) # it upto -1 index not -1

sacho
('samman', 'abu', 'salaho')
('salaho', 'sami', 'safi', 'sacho')
('abu', 'salaho', 'sami', 'safi')

### update tuple

In [26]:
# change and update any item is prohabitate
name = ("samman", "abu", "salaho", "sami", "safi", "sacho")
name = list(name)

name.pop()
name.append("ayan")
name = tuple(name)
print(name)

('samman', 'abu', 'salaho', 'sami', 'safi', 'ayan')

In [27]:
name = ("samman", "sami", "safi")
c_name = ("sasso", "ayan", "sindho")

name+=c_name
print(name)

('samman', 'sami', 'safi', 'sasso', 'ayan', 'sindho')

In [29]:
name = ("samman", "sami", "safi")
c_name = ("sasso", "ayan", "sindho")

del c_name

### unpack tuple

In [30]:
name = ("samman", "sami", "safi")
elder, mider, smaller = name

print(elder)
print(mider)
print(smaller)

samman
sami
safi

In [31]:
# use varriable and list
name = ("samman", "abu", "salaho", "sami", "safi", "sacho")
elder, middle, *smaller = name

print(elder)
print(middle)
print(smaller)

samman
abu
['salaho', 'sami', 'safi', 'sacho']

In [32]:
name = ("samman", "abu", "salaho", "sami", "safi", "sacho")
elder, *middle, smaller = name

print(elder)
print(middle)
print(smaller)

samman
['abu', 'salaho', 'sami', 'safi']
sacho

### loop in tuple

In [33]:
name = ("samman", "abu", "salaho", "sami", "safi", "sacho")
for x in name:
    print(x)

samman
abu
salaho
sami
safi
sacho

In [34]:
name = ("samman", "abu", "salaho", "sami", "safi", "sacho")
for i in range(len(name)):
    print(name[i])

samman
abu
salaho
sami
safi
sacho

In [35]:
name = ("samman", "abu", "salaho", "sami", "safi", "sacho")
i = 0
while i<len(name):
    print(name[i])
    i+=1

samman
abu
salaho
sami
safi
sacho

### join tuple

In [36]:
name = ("samman", "sami", "safi")
c_name = ("sasso", "ayan", "sindho")

brother = name + c_name
print(brother)

('samman', 'sami', 'safi', 'sasso', 'ayan', 'sindho')

In [37]:
name = ("samman", "sami", "safi")
brother = name*2

print(brother)

('samman', 'sami', 'safi', 'samman', 'sami', 'safi')

# Set

In [38]:
# unorderd, unchangeable, not allow duplicate value
friends = {"sazzad", "mustihid", "nizhum", "lily", "mou"}

print(friends)

{'mou', 'mustihid', 'sazzad', 'lily', 'nizhum'}

In [39]:
random = {1, 3.45, "s", "name", True, 5j}
print(random)

{1, 3.45, 'name', 's', 5j}

### access set

In [40]:
# not allow indexing
friends = {"sazzad", "mustihid", "nizhum", "lily", "mou"}
for x in friends:
    print(x)

mou
mustihid
sazzad
lily
nizhum

In [41]:
friends = {"sazzad", "mustihid", "nizhum", "lily", "mou"}
if "mou" in friends:
    print("yes")

yes

### add & remove set

In [42]:
# we can not change but can add
friends = {"sazzad", "mustihid", "lily", "mou"}
friends.add("nizhum")

print(friends)

{'mou', 'mustihid', 'sazzad', 'lily', 'nizhum'}

In [43]:
# By using update varriable we can add any collection
friends = {"sazzad", "mustihid", "nizhum"}
female_friends = ["mou", "lily"]

friends.update(female_friends)
print(friends)

{'mou', 'mustihid', 'sazzad', 'lily', 'nizhum'}

In [46]:
friends = {"sazzad", "mustahid", "nizhum", "lily", "mou"}
friends.remove("nizhum")
friends.discard("mustahid")

print(friends)

{'mou', 'sazzad', 'lily'}

In [48]:
friends = {"sazzad", "mustihid", "nizhum", "lily", "mou"}
# friends.remove("ridan")
friends.discard("ridan")

### join set

In [51]:
friends = {"sazzad", "mustihid", "nizhum"}
female_friends = {"mou", "lily"}

# it return a new set so, a varriable is must
# friends.union(female_friends)
friends = friends.union(female_friends)
print(friends)

{'mou', 'mustihid', 'sazzad', 'lily', 'nizhum'}

In [52]:
friends = {"sazzad", "mustihid", "nizhum"}
female_friends = {"mou", "lily"}

friends.update(female_friends)
print(friends)

{'mou', 'mustihid', 'sazzad', 'lily', 'nizhum'}

In [56]:
friends = {"sazzad", "mustihid", "nizhum", 'mim'}
female_friends = {"mou", "lily", "mim"}

print(friends.intersection(female_friends))
print(friends)

{'mim'}
{'mustihid', 'mim', 'nizhum', 'sazzad'}

In [53]:
friends = {"sazzad", "mustihid", "nizhum", 'mim'}
female_friends = {"mou", "lily", "mim"}

friends.intersection_update(female_friends)
print(friends)

{'mim'}

In [58]:
friends = {"sazzad", "mustihid", "nizhum", 'mim'}
female_friends = {"mou", "lily", "mim"}

friends.symmetric_difference_update(female_friends)
print(friends)

{'mou', 'mustihid', 'sazzad', 'lily', 'nizhum'}

In [59]:
# isdisjoint method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)

print(z)

True

In [60]:
# issubset method
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y)

print(z)

True

In [61]:
# issuperset method
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y)

print(z)

True

# Dictionary

In [64]:
car = {
    "brand": "ford",
    "price": "1m",
    "h_power": "4000"
}
print(car)
print(car["price"])

{'brand': 'ford', 'price': '1m', 'h_power': '4000'}
1m

In [68]:
# orderd, changeable, does not allo duplicate value
car = {
    "brand"    : "ford",
    "type"     : "Gasoline engine",
    "clectrice": False,
    "price"    : "1m",
    "h_power"  : 4000
}

print(len(car))

5

In [72]:
car = dict(brand = "ford", types = "Gas engine", electric= False)
print(car)

{'brand': 'ford', 'types': 'Gas engine', 'electric': False}

### accessing value

In [73]:
car = {
    "brand"    : "ford",
    "type"     : "Gasoline engine",
    "clectrice": False,
    "price"    : "1m",
    "h_power"  : 4000
}

x = car["type"]
print(x)

y = car.get("price")
print(y)

Gasoline engine
1m

In [74]:
car = {
    "brand"    : "ford",
    "type"     : "Gasoline engine",
    "clectrice": False,
    "price"    : "1m",
    "h_power"  : 4000
}

x = car.keys()
print(x)

dict_keys(['brand', 'type', 'clectrice', 'price', 'h_power'])

In [77]:
# add new item, updating
car = {
    "brand"    : "ford",
    "type"     : "Gasoline engine",
    "clectrice": False,
    "price"    : "1m",
    "h_power"  : 4000
}
car["colour"] = "glossy black"
car["h_power"] = 6000
print(car.keys())
print(car.values())

dict_keys(['brand', 'type', 'clectrice', 'price', 'h_power', 'colour'])
dict_values(['ford', 'Gasoline engine', False, '1m', 6000, 'glossy black'])

In [79]:
car = {
    "brand"    : "ford",
    "type"     : "Gasoline engine",
    "clectrice": False,
    "price"    : "1m",
    "h_power"  : 4000
}

print(car.items())

dict_items([('brand', 'ford'), ('type', 'Gasoline engine'), ('clectrice', False), ('price', '1m'), ('h_power', 4000)])

In [81]:
car = {
    "brand"    : "ford",
    "type"     : "Gasoline engine",
    "clectrice": False,
    "price"    : "1m",
    "h_power"  : 4000
}

if "price" in car:
    print("yes", car["price"])

yes 1m

### remove item

In [84]:
car = {
    "brand"    : "ford",
    "type"     : "Gasoline engine",
    "clectrice": False,
    "price"    : "1m",
    "h_power"  : 4000
}

car.pop("clectrice")
print(car)

{'brand': 'ford', 'type': 'Gasoline engine', 'price': '1m', 'h_power': 4000}

In [85]:
car = {
    "brand"    : "ford",
    "type"     : "Gasoline engine",
    "clectrice": False,
    "price"    : "1m",
    "h_power"  : 4000
}

# car.pop()
car.popitem()
print(car)

{'brand': 'ford', 'type': 'Gasoline engine', 'clectrice': False, 'price': '1m'}

In [86]:
car = {
    "brand"    : "ford",
    "type"     : "Gasoline engine",
    "clectrice": False,
    "price"    : "1m",
    "h_power"  : 4000
}

del car["h_power"]
print(car)

{'brand': 'ford', 'type': 'Gasoline engine', 'clectrice': False, 'price': '1m'}

In [87]:
car = {
    "brand"    : "ford",
    "type"     : "Gasoline engine",
    "clectrice": False,
    "price"    : "1m",
    "h_power"  : 4000
}
# del car
car.clear()
print(car)

{}

### Loop

In [89]:
car = {
    "brand"    : "ford",
    "type"     : "Gasoline engine",
    "clectrice": False,
    "price"    : "1m",
    "h_power"  : 4000
}

for x in car:
    print(x)

brand
type
clectrice
price
h_power

In [90]:
car = {
    "brand"    : "ford",
    "type"     : "Gasoline engine",
    "clectrice": False,
    "price"    : "1m",
    "h_power"  : 4000
}

for x in car:
    print(car[x])

ford
Gasoline engine
False
1m
4000

In [93]:
for x, y in car.items():
    print(x ," : ", y)

brand  :  ford
type  :  Gasoline engine
clectrice  :  False
price  :  1m
h_power  :  4000

### copy dictonary

In [94]:
car = {
    "brand"    : "ford",
    "type"     : "Gasoline engine",
    "clectrice": False,
    "price"    : "1m",
    "h_power"  : 4000
}

new_car = car.copy()
print(new_car)

{'brand': 'ford', 'type': 'Gasoline engine', 'clectrice': False, 'price': '1m', 'h_power': 4000}

In [96]:
car = {
    "brand"    : "ford",
    "type"     : "Gasoline engine",
    "clectrice": False,
    "price"    : "1m",
    "h_power"  : 4000
}

new_car = dict(car)
print(new_car)

{'brand': 'ford', 'type': 'Gasoline engine', 'clectrice': False, 'price': '1m', 'h_power': 4000}

### nested dictonary

In [99]:
car = {
    "ford":{
        "type" : "gas",
        "price": 10000000
    },
    "jaguar":{
        "type" : "gas",
        "price": 20000000
    },
    "toyata":{
        "type" : "gas",
        "price" : 100000
    }
}

print(car)
print("Car price is: ",car["toyata"]["price"])

{'ford': {'type': 'gas', 'price': 10000000}, 'jaguar': {'type': 'gas', 'price': 20000000}, 'toyata': {'type': 'gas', 'price': 100000}}
Car price is:  100000

### some method

In [100]:
# fromkeys method
x = (1, 2, 3, 4)
y = None

num = dict.fromkeys(x, y)
print(num)

{1: None, 2: None, 3: None, 4: None}

In [102]:
# setdefault method
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("color", "white")
print(x)

white