# 1.Comment

In [1]:
# This is a comment
print("Hello World")

Hello World

In [2]:
print("Hello World") # This is comment

Hello World

In [3]:
# print("Hello")
print("Hello World")

Hello World

### Multiple line of comment

In [4]:
# This is first line of comment
# This is second line of comment
print("Hello World")

Hello World

In [5]:
"""
This is first line of comment
his is second line of comment
"""
print("Hello World")

Hello World

# 2.Varriable

In [6]:
x = 10
y = "salary"
z = True
print(x)

10

In [7]:
# casting
x = str(3.56)
y = int(3.0)
z = float(3)
print(x)

3.56

In [8]:
# get type
x = 5
y = 'john'
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

### Varriable name

In [9]:
# Valid
My_var = 10
my_var = 10
my1var = 10
myvar  = 10
myVar2 = 10
print(My_var)

# not valid
"""
2myvar = 10
2 my v =10
my-var = 10
"""

10

'\n2myvar = 10\n2 my v =10\nmy-var = 10\n'

### Multiple word varriable name

In [10]:
# Camel Case Type
# each word except first, starts wtih capital letter.
myVarriableName = 'john'
validVarriable  = 'john'
print(myVarriableName)

john

In [11]:
# Pascal Case
# each word start with a Capital letter
MyVarriableName = "john"
ValidVarriable  = "john"
print(MyVarriableName)

john

In [12]:
# Snake Case
# each word is seperated with underscore sign
my_varriable_name = 'john'
valid_varriale = 'john'
print(my_varriable_name)

john

### Assign Multiple value

In [14]:
x, y, z = "orange", "banana", "apple"
print(x)
print(y)
print(z)

orange
banana
apple

In [24]:
x, y = 10, "samman"
print(x)
print(y)

10
samman

In [15]:
x = y = z ="Apple"
print(x)
print(y)
print(z)

Apple
Apple
Apple

In [16]:
fruits = ["apple", "banana", "orange"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
orange

### Output Varriable

In [17]:
x = 'python'
y = 'is'
z = 'awsome'
print(x, y, z)
print(x + y + z)

python is awsome
pythonisawsome

In [18]:
x = 5
y = 10
print( x + y)

15

In [19]:
# in printf + functon works as an Add operator
x = 5
y = 'john'
# print (x+y)

### Global Varriable

In [20]:
x = 'awesome'

def just():
    print("python is "+ x)
    
just()
print("python is "+ x)

python is awesome
python is awesome

In [21]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [22]:
x = "awesome"
def myfun():
    global x
    x = "fantastics"

myfun()
print("Python is ", x)

Python is  fantastics

In [25]:
global x
x = "awesome"
def myfun():
    x = "fantastics"
    print(x)
    
myfun()
print("Python is ", x)

fantastics
Python is  awesome

# 3.Data Type

In [33]:
x = "hello world!"
print(type(x))
x = 20
print(type(x))
x =20.5
print(type(x))
x =1j
print(type(x))
x =True
print(type(x))
x = ["apple", 20, 175.4]
print(type(x))
x =("apple", 20, 1.2)
print(type(x))
x = {"apple", 10, "cherry"}
print(type(x))
x = {1:"john", 2:"age"}
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [31]:
x = range(6)
print(type(x))
print(x)

<class 'range'>
range(0, 6)

In [36]:
x = frozenset({"apple", "banana", "orange"})
print(x)
print(type(x))

frozenset({'orange', 'banana', 'apple'})
<class 'frozenset'>

In [37]:
x = b"hello"
print(x)
print(type(x))

b'hello'
<class 'bytes'>

In [35]:
x = bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [38]:
x = memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x0000029E03A27AC0>
<class 'memoryview'>

In [39]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

### Setting the specific data type

In [40]:
x = str("hello world")
print(x)
x = complex(1J)
print(x)
x = range(6)
print(x)
x = bool(5)
print(x)

hello world
1j
range(0, 6)
True

# 4.Python Numbers

In [41]:
# int, whole number, positve or negative, of ublimitd length
x = 1
print(type(x))

y = 12345678901234567899
print(type(x))

x = -123456789
print(type(x))

<class 'int'>
<class 'int'>
<class 'int'>

In [43]:
# float, contaning one or more decimale, can be positive and negative
x =1.10
print(type(x))

x = -1.123456789
print(type(x))

x =35e3
print(type(x))

x = 35E3
print(type(x))

x = -45.1e100
print(type(x))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [44]:
# complex number, written with j, as imaginary part
x = 3+5j
print(type(x))

x = 5j
print(type(x))

x = -5j
print(type(x))

<class 'complex'>
<class 'complex'>
<class 'complex'>

### Type convertion

In [46]:
x, y, z = 1, 2.8, 1j
a = float(x)
print(a)

b = int(y)
print(y)

c = complex(x)
print(c)

# d = int(z)
# print(d)

# Can't convert from complex to any number

1.0
2.8
(1+0j)

In [49]:
# int
x = int(1)   # x will be 1
print(x)
y = int(2.8) 
print(y)
z = int("3") 
print(z)

# float
x = float(1)     # x will be 1.0
print(x)
y = float(2.8)  
print(y)
z = float("3")  
print(z)
w = float("4.2") 
print(w)

#str
x = str("s1") 
print(x)
y = str(2)    
print(y)
z = str(3.0)  # z will be '3.0'
print(z)

1
2
3
1.0
2.8
3.0
4.2
s1
2
3.0

### Random number

In [48]:
import random
print(random.randrange(1, 10))

3

# 5.Strings

In [50]:
a = "hello"
b = 'hello'
print(a, b)

hello hello

In [54]:
a = 'hello, world!'
print(a[1])
print(len(a))

e
13

### multiline string

In [51]:
a = """
twinkle twinklw little star
rain rain go away
come again another day
"""
print(a)

twinkle twinklw little star
rain rain go away
come again another day

### looping througn string

In [53]:
for x in "samman":
    print(x)

s
a
m
m
a
n

In [56]:
txt = " The best thing in life are free"
print("free" in txt)
if "free" in txt:
    print("Yes")

True
Yes

### Slice

In [57]:
b = "hello, world!"
print(b[2:5])
print(b[:5])
print(b[1:])

# negative indexing
print(b[-5:-2])

llo
hello
ello, world!
orl

### Modify

In [62]:
a = "Hello, World!"
print(a.upper())
print(a.lower())
print(a.strip()) # remove, from the begining, or the end
print(a.replace("H", 'j'))
print(a.split(" "))
print(a.split(","))

HELLO, WORLD!
hello, world!
Hello, World!
jello, World!
['Hello,', 'World!']
['Hello', ' World!']

### Concatenation

In [64]:
a = "hello"
b = "world"
print(a+b)
print(a+" "+b)

helloworld
hello world

### Format

In [65]:
age = 36
txt = "My name is John, I am {}"
print(txt.format(age))

My name is John, I am 36

In [67]:
age = 20
salary = 100000
job = "i want this jod with age {} and salary {}"
print(job.format(age, salary))

i want this jod with age 20 and salary 100000

In [68]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

### Escape Character

In [69]:
txt = "It\'s alright"
print(txt)

It's alright

In [70]:
txt = "It\\s alright"
print(txt)

It\s alright

In [71]:
txt = "It\n s alright"
print(txt)

It
 s alright

In [72]:
txt = 'hello\rworld'
print(txt)

world

In [73]:
txt = 'hello\tworld'
print(txt)

hello	world

In [76]:
txt = 'hello \bworld'
print(txt)

hello world

In [78]:
txt = "\123"
print(txt)

S

In [84]:
txt = "\x5d"
print(txt)

]

### string Method

In [86]:
# capitalized method
txt = "this is python course"
x = txt.capitalize()

print(x)

This is python course

In [87]:
# casefold method
txt = "Hello, And Welcome To My World!"
x = txt.casefold()

print(x)

hello, and welcome to my world!

In [89]:
# center method 
txt = "samman"
x = txt.center(50)
y = txt.center(20, "O")

print(x)
print(y)

                      samman
OOOOOOOsammanOOOOOOO

In [91]:
# count method
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
y = txt.count("apple", 10, 24)

print(x)
print(y)

2
1

In [92]:
# encode method
txt = "My name is Ståle"
x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [3]:
# endswith method
txt = "hello, welcome to my world."
x = txt.endswith(".")
y = txt.endswith("my world.")
z = txt.endswith("my world.", 5, 11)

print(y)
print(x)
print(z)

True
True
False

In [43]:
# startswith method
txt = "Hello, welcome to my world."
x = txt.startswith("wel", 7, 20)

print(x)

True

In [9]:
# expandtab method
txt = "h\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(4))
print(txt.expandtabs(10))

h	e	l	l	o
h       e       l       l       o
h   e   l   l   o
h         e         l         l         o

In [12]:
# find method
txt = "hello, welcome to my world"
x = txt.find("welcome")
y = txt.find("l")
z = txt.find("e", 5, 10)

print(x, y, z)

7 2 8

In [13]:
# find method
# if value not find then it return -1
txt = "hello, welcome to my world"
print(txt.find("q"))

-1

In [17]:
# format method
txt = "For only {price: .2f} dollers!"
print(txt.format(price = 49))

For only  49.00 dollers!

In [19]:
# format method
txt = "We have {:<8} chickens."
print(txt.format(49))

txt = "We have {:>8} chickens."
print(txt.format(49))

txt = "We have {:^8} chickens."
print(txt.format(49))

txt = "The temperature is {:=8} degrees celsius."
print(txt.format(-5))

txt = "The temperature is between {:+} and {:+} degrees celsius."
print(txt.format(-3, 7))

txt = "The temperature is between {: } and {: } degrees celsius."
print(txt.format(-3, 7))

We have 49       chickens.
We have       49 chickens.
We have    49    chickens.
The temperature is -      5 degrees celsius.
The temperature is between -3 and +7 degrees celsius.
The temperature is between -3 and  7 degrees celsius.

In [21]:
# format method
txt = "The universe is {:,} years old."
print(txt.format(13800000000))

txt = "The universe is {:_} years old."
print(txt.format(13800000000))

The universe is 13,800,000,000 years old.
The universe is 13_800_000_000 years old.

In [22]:
# format method
txt = "The binary version of {0} is {0:b}"
print(txt.format(5))

txt = "We have {:d} chickens."
print(txt.format(0b101))

txt = "We have {:E} chickens."
print(txt.format(5))

txt = "We have {:e} chickens."
print(txt.format(5))

The binary version of 5 is 101
We have 5 chickens.
We have 5.000000E+00 chickens.
We have 5.000000e+00 chickens.

In [23]:
# format method
txt = "The octal version of {0} is {0:o}"
print(txt.format(10))

txt = "The Hexadecimal version of {0} is {0:x}"
print(txt.format(255))

txt = "The Hexadecimal version of {0} is {0:X}"
print(txt.format(255))

txt = "You scored {:%}"
print(txt.format(0.25))

txt = "You scored {:.0%}"
print(txt.format(0.25))

The octal version of 10 is 12
The Hexadecimal version of 255 is ff
The Hexadecimal version of 255 is FF
You scored 25.000000%
You scored 25%

In [24]:
# index method
txt = "Hello, welcome to my world."
x = txt.index("e", 5, 10)
y = txt.index("welcome")

print(x)
print(y)

8
7

In [1]:
# isalnum method

txt = "company12"
txt_2 = "company 12"

x = txt.isalnum()
y = txt_2.isalnum()

print(x)
print(y)

True
False

In [2]:
# isalpha method
txt = "companyX"
x = txt.isalpha()

print(x)

True

In [3]:
# isascii method
txt = "company123"
x = txt.isascii()

print(x)

True

In [6]:
# isdecimal method
txt = "124"
aax = "123#"
x = txt.isdecimal()
y = aax.isdecimal()

print(x)
print(y)

True
False

In [7]:
# isdigit method
txt = "50800"
x = txt.isdigit()

print(x)

True

In [9]:
# isidentifier method
txt = "Demo"
x = txt.isidentifier()

print(x)

True

In [10]:
# islower method
txt = "hello world!"
b = "hello 123"
x = txt.islower()
b = txt.islower()

print(b, x)

True True

In [11]:
# isnumeric method
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for ²
c = "10km2"
d = "-1"
e = "1.5"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

True
True
False
False
False

In [13]:
# isprintable method
txt = "Hello! Are you #1?"
x = txt.isprintable()

txt = "Hello!\nAre you #1?"
y = txt.isprintable()

print(x)
print(y)

True
False

In [14]:
# isspace method
txt = "       "
x =txt.isspace()

print(x)

True

In [16]:
# istitle method
txt = " Is That A Title"
x = txt.istitle()
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())
print(x)

False
True
True
True
True

In [18]:
# isupper method
a = "HELLO, AND WELCOME TO MY WORLD"
x =a.isupper()

print(x)

True

In [19]:
# join method
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [22]:
# ljust method

txt = "banana"
x = txt.ljust(20)
x = txt.ljust(20, "*")

print(x, "is my favorite fruit.")

banana************** is my favorite fruit.

In [23]:
# lstrip method

txt = "     banana     "
x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [45]:
# strip method
txt = "     banana     "
x = txt.strip()
txt_2 = ",,,,,rrttgg.....banana....rrr"

y = txt_2.strip(",.grt")

print(y)
print("of all fruits", x, "is my favorite")

banana
of all fruits banana is my favorite

In [24]:
# maketrans method
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")

print(txt.translate(mytable))

Hello Pam!

In [25]:
# maletrans method
txt = "Hi Sam!"
x = "mSa"
y = "eJo"

mytable = str.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [26]:
# partition method
txt = "I could eat bananas all day"
x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [27]:
# replace method
txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three")

print(x)

three three was a race horse, two two was three too.

In [28]:
# replace method
txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three", 2)

print(x)

three three was a race horse, two two was one too.

In [29]:
# rfind method
txt = "Mi casa, su casa."
x = txt.rfind("casa")

print(x)

12

In [30]:
# rjust method
txt = "banana"
x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [31]:
# rpartition method
txt = "I could eat bananas all day, bananas are my favorite fruit"
x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [35]:
# rsplit method
txt = "apple, banana, cherry"
y = txt.rsplit(",")
x = txt.rsplit(", ", 1)

print(x)
print(y)

['apple, banana', 'cherry']
['apple', ' banana', ' cherry']

In [36]:
# split method
txt = "welcome to the jungle book"
x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle', 'book']

In [38]:
# split metod
txt = "hello, my name is Peter, I am 26 years old"
txt_2 = "apple#banana#cherry#orange"

x = txt.split(", ")
y = txt_2.split("#")

print(x)
print(y)

['hello', 'my name is Peter', 'I am 26 years old']
['apple', 'banana', 'cherry', 'orange']

In [42]:
# splitlines method
txt = "Thank you a lot\n You are a great singer\n"
x = txt.splitlines()
y = txt.splitlines(True)

print(x)
print(y)

['Thank you a lot', ' You are a great singer']
['Thank you a lot\n', ' You are a great singer\n']

In [46]:
# swapcase method
txt = "Hello, My name is peteR"
x =txt.swapcase()

print(x)

hELLO, mY NAME IS PETEr

In [48]:
# title method
txt = "hellow, it\'s me"
x = txt.title()

print(x)

Hellow, It'S Me

In [49]:
# zfill method
txt = "50"
x = txt.zfill(10)

print(x)

0000000050

# 6.Boolean

In [50]:
print(10>9)
print(10<9)

True
False

In [51]:
# invalid use of bool
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [52]:
def myFunction() :
  return True

print(myFunction())

True

# 7.Operator

### Arithmatic operator

In [53]:
x = 100
y = 20

print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x**y)
print(x//y)
print(x%y)

120
80
2000
5.0
10000000000000000000000000000000000000000
5
0

### assignment operator

In [54]:
x = 10
x+=3
print(x)

x-=3
print(x)

x//=3
print(x)

13
10
3

### logical operator

In [56]:
x = 5
print(x > 3 and x < 10)
print(x<2 or x<4)
print(not(x<2 and x<10))

True
False
True

In [ ]:
# identity operator